.footer {
    border-bottom: 1px solid rgba(0,0,0,.25);
    border-top: 1px solid rgba(0,0,0,.25);
    @media (max-width: 1024px) {
        background-color: #fafafa;
    }
    .container {
        .top__menu {
            list-style: none;
            margin: 0;
            padding: 0; 
            @media (max-width: 1024px) {
                padding-top: 30px;
                padding-bottom: 30px;
                flex-wrap: wrap;
                width: 250px;
                margin: 0 auto;
            }
            li {
                a {
                    text-decoration: none;
                    font-size: 14px;
                    display: block;
                    padding: 19px 30px;
                    color: #000;
                    position: relative;
                    @media (max-width: 1024px) {
                        font-size: 11px;
                        padding: 0 5px;
                        line-height: 2.0;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 13px;
                        background-color: rgba(0,0,0,.25);
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        right: 0;
                    }
                }
                &:last-child {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}